# Operators Part 2

## Notes

* **Operators** are used to perform operations on variables and values.
* In this notebook we'll go over the rest of the operator groups:
  * Logical operators
  * Identity operators
  * Membership operators
  * Bitwise operators

## Importance

**Logical operators** are used for combining conditional statements, **identity operators** for comparing object identities, **membership operators** for testing data presence in sequences, and **bitwise operators** for manipulating individual bits, all are vital for complex data operations in Python.

## Types of Operators

### Logical Operators

Logical operators connect two or more conditions and evaluate the truth or falsity of the conditions combined.

| Operator | Name     | Example |
|----------|----------|---------|
| and      | Logical AND | x and y |
| or       | Logical OR  | x or y  |
| not      | Logical NOT | not x   |

In [ ]:
job_status_luke = not True

job_status_luke

False

In [ ]:
job_status_luke = False
job_status_kelly = True

# Do both Luke and Kelly have jobs?
job_status_luke and job_status_kelly

False

In [ ]:
job_status_luke AND job_status_luke # must be lower case 'and'

SyntaxError: invalid syntax (2915467010.py, line 1)

In [ ]:
# Do either Luke or Kelly have a job?
job_status_luke or job_status_kelly

True

### Identity Operators

Identity operators check if two variables occupy the same memory location, i.e., are identical.

| Operator | Name               | Example   |
|----------|--------------------|-----------|
| is       | Identity           | x is y    |
| is not   | Not identity       | x is not y|

This is *NOT* checking if something is equal to something else.

In [ ]:
salary_kelly = 100_000
salary_luke = 100_000

salary_kelly is salary_luke

False

In [ ]:
lukes_skills = ['Python', 'R', 'SQL']
kellys_skills = lukes_skills

lukes_skills is kellys_skills

True

### Membership Operators

Membership operators test for membership in a sequence, such as strings, lists, or tuples.

| Operator | Name            | Example   |
|----------|-----------------|-----------|
| in       | Membership      | x in y    |
| not in   | Not membership  | x not in y|

In [ ]:
'Data' in 'Data Nerd'

True

In [ ]:
'data' in 'Data Nerd'

False

In [ ]:
# is 100 inside of 100,000

100 in 100_000

TypeError: argument of type 'int' is not iterable

In [ ]:
100 in [100, 200, 300]

True

In [ ]:
'Python' in ['Python', 'R', 'SQL']

True

### Bitwise Operators

Bitwise operators perform bit-by-bit operations on binary numbers.

| Operator | Name        | Example |
|----------|-------------|---------|
| &        | Bitwise AND | x & y   |
| \|       | Bitwise OR  | x \| y  |
| ^        | Bitwise XOR | x ^ y   |
| ~        | Bitwise NOT | ~x      |
| <<       | Left Shift  | x << y  |
| >>       | Right Shift | x >> y  |

P.S. Bitwise operations are beyond the scope of using Python for Data Analytics.  
P.S.S. You could technically use `&` and `|` in place of `and` and `or` for Boolean comparison, BUT it's less readable.  
P.S.S.S. You'll see the `&` and `|` operators pop up again when we cover Pandas.

In [ ]:
True & False

False

In [ ]:
True | False

True

### NOTE:
The technical use case is for bit-wise operation (shown below).

In [ ]:
x = 10  # binary 1010
y = 4   # binary 0100
result = x & y  # binary 0000 -> decimal 0

result

0

In [ ]:
x = 10  # binary 1010
y = 4   # binary 0100
result = x | y  # binary 1110 -> decimal 14

result

14