## Objects: The Data Records
### Object: A data record with fields; an instance of a class.

In [1]:
salary = 100000

In [4]:
type(salary)

int

In [5]:
job = 'data analyst'

In [7]:
type(job)

str

In [8]:
job_title = 'data analyst'
job_location = 'New York'
job_salary = 90000

In [10]:
print("what's the job title?")
my_print_func = print
my_print_func(job_title)

what's the job title?
data analyst

## Functions: The Manipulators of Objects
### Function: A reusable piece of code that perform a specific task.

In [11]:
def greet():
    return "What's up, data nerd?"

In [13]:
greet()

What's up, data nerd?

In [16]:
print(f"JOB:  {job_title}\nLOCATION:  {job_location}\nSALARY: ${job_salary:,.0f}")

JOB:  data analyst
LOCATION:  New York
SALARY: $90,000

In [17]:
def display_info(title, location, salary):
    print(f"JOB:  {title}\nLOCATION:  {location}\nSALARY: ${salary:,.0f}")

In [18]:
display_info(job_title, job_location, job_salary)

JOB:  data analyst
LOCATION:  New York
SALARY: $90,000

## Classes: The Templates of Objects
### Class: A template for creation objects(records).

In [19]:
job_title = 'data analyst'
job_location = 'New York'
job_salary = 90000

In [20]:
class JobPost:
    def __init__(self, title, location, salary):
        self.title = title
        self.location = location
        self.salary = salary

In [22]:
JobPost(job_title, job_location, job_salary)

<__main__.JobPost object at 0x7e0109312ce0>

## Attributes: The Variables of an Object
### Attribute: A field in a record, defined by its class.

In [23]:
job_1 = JobPost(job_title, job_location, job_salary)

In [24]:
job_1.title

'data analyst'

In [25]:
job_1.location

'New York'

## Methods: The Functions of an Object
### Method: A function defined inside a class that operates on its objects.

In [26]:
class JobPost:
    def __init__(self, title, location, salary):
        self.title = title
        self.location = location
        self.salary = salary

    def display_info(self):
        print(f"JOB:  {self.title}\nLOCATION:  {self.location}\nSALARY: ${self.salary:,.0f}")

In [27]:
job_1 = JobPost(job_title, job_location, job_salary)

In [28]:
job_1.display_info()

JOB:  data analyst
LOCATION:  New York
SALARY: $90,000