### Arithmetic Operators

In [1]:
2+3.0

5.0

In [2]:
"What's "+ "up?"

"What's up?"

In [3]:
"What's up? "* 5

"What's up? What's up? What's up? What's up? What's up? "

In [5]:
5 / 2

2.5

In [6]:
5 // 2

2

In [7]:
5 % 2

1

In [10]:
print("5 devided by 2 is", 5//2, "with a remainder of", 5%2)

5 devided by 2 is 2 with a remainder of 1

## order of operators:
1. parentheses
2. exponents
3. Multiplication and Division
4. Addition and Subtraction

In [12]:
min_salary = 20_000
max_salary = 80_000

avg_salary = (min_salary + max_salary) / 2
int(avg_salary)

50000

In [14]:
applicant_1 = "Kelly"
applicant_2 = "Luke"
print(applicant_1, applicant_2)

Kelly Luke

In [15]:
temp_var = applicant_1
applicant_1 = applicant_2
applicant_2 = temp_var
print(applicant_1, applicant_2)

Luke Kelly

In [16]:
applicant_1, applicant_2 = applicant_2, applicant_1
print(applicant_1, applicant_2)

Kelly Luke

In [17]:
x = 1
x = x + 1
x += 1 # x = x + 1

In [19]:
x = 1
x *= 2 # x = x * 2
x

2

In [20]:
salary_Kelly = 60_000
salary_Luke = 40_000
salary_Kelly == salary_Luke

False

In [21]:
1 == 1.0

True

In [22]:
if (salary_Kelly > salary_Luke):
    print(applicant_1, "is making more than", applicant_2)
else:
    print(applicant_2, "is making more than", applicant_1)

Kelly is making more than Luke